*{
    color:white;
}
*::selection{
    color:white;
    background-color: green;
}
body{
    background-color: black;
}
h1,h5{
    color:green;
}
nav{
    display: flex;
    font-size: larger;
    color: white;
    background-color: black;
    height: 40px;

}
nav:hover{
    color: green;
}

.header{
    background-color: black;
    color: white;
    display: flex;
    background-image: linear-gradient(165deg,#1e1e1e 40%, green);
    padding: 0;
    margin: 0;
    border:none;

}

#top{
    display: flex;
    height: max-content;
}
a{
    color: white;
    background-color: transparent;
    text-decoration: none;
    display: flex;
    margin-right: 10px;
    padding: 5px;
    border-right: 1px solid white;
    border-radius: 8px;
}
a:hover{
    background-image: linear-gradient(135deg,#1e1e1e 40%, green);
}
#ht{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 40px;
    font-family: Arial,Helvetica, sans-serif;
    background-clip: border-box;
    background: linear-gradient(to right, #23cf65 20%, #04b870,#15cb4b 80%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.container{
    display: flex;
}
.div-head{
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border:1px solid grey;
    border-radius: 8px;
    background-color: #1e1e1e;
    background-image: linear-gradient(135deg,rgb(0,0,0),#313231 10%, rgb(0, 0, 0),#313231 60%, rgb(0, 0, 0));
    font-family: monospace;
    font-weight: bolder;
    font-size: medium;
}
.div-head:hover{
    background-image: linear-gradient(135deg,rgb(0,0,0),#174117 10%, rgb(0, 0, 0),#103e10 30%, rgb(0, 0, 0),#174117, rgb(0, 0, 0));
}
.div-head img{
    border-radius: 8px;
    width:60%;
    height: 60dvh;
    margin: 10px;
    border: 1px solid white;
}
footer{
    background-color: #1e1e1e;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
